@use "/styles/all" as *;

.tabsContainer {
  :global {
    .ant-tabs-nav-list {
      background-color: $neutral0;
      border: 1px solid $neutral300;
      border-radius: 8px;
    }

    .ant-tabs-nav::before {
      display: none;
    }

    .ant-tabs-tab,
    .ant-tabs-tab-active {
      border-right: 1px solid $neutral300;
      padding: 0;
    }

    .ant-tabs-nav-list .ant-tabs-tab:first-of-type .ant-tabs-tab-btn {
      border-radius: 6px 0 0 6px;
    }

    .ant-tabs-tab:nth-last-child(2) {
      border-right: none;
    }
    .ant-tabs-tab:nth-last-child(2) .ant-tabs-tab-btn {
      border-right: none;
      border-radius: 0 6px 6px 0;
    }

    .ant-tabs-tab .ant-tabs-tab-btn {
      border-radius: 0;
      border-left: none;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $neutral100;
      background-color: $primary400;
    }

    .ant-tabs .ant-tabs-ink-bar {
      display: none !important;
    }
    .ant-tabs-tab {
      margin: 0 !important;
    }

    .ant-tabs-tab-btn {
      padding: 8px 16px;
    }
  }
}
