@use "/styles/all" as *;

.toastContainer {
  display: flex;
  padding: 16px;
  gap: 8px;
  background-color: $danger100;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15) !important;
}

.toastBody {
  display: flex;
  flex-direction: column;
}
