@use "/styles/all" as *;

.notificationItem {
  display: flex;
  padding: 16px;
  border: 1px solid $neutral500;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationContainer {
  display: flex;
  gap: 20px;
}

.notificationDot {
  width: 16px;
  height: 16px;

  background-color: $primary400;
  border-radius: 50%;
}

.usersAvatarsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.usersAvatars {
  display: flex;
}
