@use "/styles/all" as *;

.graphCon {
  display: flex;
  gap: 20px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 40%;
    padding: 24px;

    border-radius: 12px;
  }
}
