@use "/styles/all" as *;

.productNameCell {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.productIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $neutral300;
  border-radius: 16px;
}
