@use "/styles/all" as *;

.btn {
  cursor: pointer;

  background-color: unset;
  border: unset;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  border-radius: 8px;

  transition: all 0.2s ease-in-out;
}

.small {
  padding-block: 10px;
  padding-inline: 12px;
  gap: 4px;

  &.iconButton {
    padding: 0px;
    width: 32px;
    height: 32px;
  }
}

.large {
  padding-block: 12px;
  padding-inline: 16px;
  gap: 8px;

  &.iconButton {
    padding: 0px;
    width: 40px;
    height: 40px;
  }
}

.round {
  border-radius: 50%;
}

// Button variants
.primary {
  background-color: $primary400;

  &:hover {
    background-color: $primary500;
  }

  &:active {
    background-color: $primary700;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $neutral200;

    p {
      color: $text200 !important;
    }
  }
}

.primary p {
  color: $text300;
}

.secondary {
  background-color: $neutral0;
  border: 1px solid $neutral300;

  &:hover {
    background-color: $neutral200;
    border-color: $neutral800;
  }

  &:active {
    background-color: $neutral300;
    border-color: $neutral800;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $neutral200;
    border-color: $neutral300;

    p {
      color: $text200 !important;
    }
  }
}

.secondary p {
  color: $text50;
}

.danger {
  background-color: $danger700;

  &:hover {
    background-color: $danger800;
  }

  &:active {
    background-color: $danger900;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $neutral200;

    p {
      color: $text200 !important;
    }
  }
}
.danger p {
  color: $text300;
}

.noStyle {
  padding: 0;
  background-color: transparent;
  border: none;
}

.isFullWidth {
  width: 100%;
}
