@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.formContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.locationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.selectionContainer {
  width: 100%;
}

.btnContainer {
  max-width: 292px;
  height: 40px;
  width: 100%;
}

.message {
  padding-bottom: 48px;
}
