@use "/styles/all" as *;

.navbarNotificationContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.hideOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 0.3s ease-in-out;

  &.show {
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.notificationOverlay {
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 637px;

  padding-block: 20px;
  padding-inline: 12px;

  background-color: $neutral0;
  border-radius: 16px;

  .notificationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notificationList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.emptyNotificationContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.noNotificationTexts {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-inline: 101px;
  text-align: center;
}
