@use "/styles/all" as *;

.container {
  padding-bottom: 46px;

  .formHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .rowContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      padding-block: 12px;
    }

    .btnContainer {
      margin-top: 24px; // 40 margin-top -  16 gap
    }
  }
}
