@use "/styles/all" as *;

.navbarLink {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  padding: 10px 8px 6px 8px;

  transition: background-color 0.3s ease;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &.active {
    background-color: $primary400;
  }
}

.navbarInnerContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.flipArrowStyle {
  rotate: 180deg;
}

.subNavbarLink {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 36px;

  padding-inline: 40px 8px;

  transition: background-color 0.3s ease;

  li {
    width: 0;
    margin: 0;
    color: $neutral0;
  }

  &.active {
    background-color: $neutral100;

    li {
      color: black;
    }
  }
}
