@use "/styles/all" as *;

.mainContainer {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: $primary300;
  gap: 8px;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: 1px solid $primary400;
}
