$desktop-design-viewport: 1440px;
$desktop-design-height: 1024px;
$mobile-design-viewport: 375px;
$navbar-height: 56px;
$sidebar-width: 250px;

// Neutral Colors
$neutral0: #ffffff;
$neutral100: #f8f9fc;
$neutral200: #f1f3f9;
$neutral300: #e1e6ef;
$neutral400: #f5f5f5;
$neutral500: #d9e1e7;
$neutral700: #3f444d;
$neutral800: #23272f;
$neutral900: #1b1f27;
$neutral1000: #0a0d14;

// Primary Colors
$primary0: #e3f6f8;
$primary100: #f2f9fb;
$primary200: #d9edf4;
$primary300: #b0dae8;
$primary400: #0089b4;
$primary500: #007ba2;
$primary600: #006e90;
$primary700: #0e3e52;
$primary800: #00526c;
$primary900: #003e51;
$primary1000: #00303f;

// Success Colors
$success100: #edfdf8;
$success700: #08875d;
$success800: #04724d;
$success900: #066042;

// Warning Colors
$warning100: #fff8eb;
$warning700: #b25e09;
$warning800: #96530f;
$warning900: #80460d;

// Danger Colors
$danger50: #fdf0ec;
$danger100: #fef1f2;
$danger700: #e02d3c;
$danger800: #ba2532;
$danger900: #981b25;

// Text + Icon Colors
$text50: #1d2433;
$text100: #454b57;
$text200: #6c707a;
$text300: #ffffff;
$text400: #c1c2c4;
$text500: #9d9ea1;
