@use "/styles/all" as *;

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.errorMsg {
  display: flex;
  gap: 4px;
  padding-block: 4px;
  padding-inline-start: 4px;
  border-radius: 4px;

  margin-top: -4px;
  background-color: $danger100;
}

.fullWidth {
  width: 100%;
}
