@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsScreenContainer {
  min-height: 261px;
}

.customRowStyle {
  display: flex;
  max-width: 991px;
}

.largeCellStyle {
  flex: 1.5;
}

.subtitleContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.iconContainer {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $warning100;

  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 8px;
}
