@use "/styles/all" as *;

.container {
  padding-bottom: 46px;

  .formContainer {
    margin-top: 16px;
    gap: 12px;
    display: flex;
    flex-direction: column;

    .passwordContainer {
      margin-top: 16px;
      margin-bottom: 12px;
    }

    .spaceTop {
      margin-top: 16px;
    }

    .btnContainer {
      margin-top: 32px;
    }
  }
}
