@use "/styles/all" as *;

.container {
  .formHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }

  .formContainer {
    .btnContainer {
      margin-top: 16px;
    }
  }
}
