@use "/styles/all" as *;

.siderStyle {
  position: fixed;
  width: $sidebar-width;

  height: 100vh;
}

.mainContainer {
  margin-inline-start: $sidebar-width;
  min-height: 100vh;
}

.headerStyle {
  display: flex;
  align-items: center;

  line-height: unset;

  background-color: $neutral0;
  height: $navbar-height;
  padding-inline-start: 26px;
  padding-inline-end: 24px;

  border-bottom: 1px solid $neutral300;
}

.contentStyle {
  padding: 16px 24px;
}
