@use "/styles/all" as *;

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 32px 24px;

  background-color: $neutral0;
  border: 1px solid $neutral300;
  border-radius: 8px;
}

.noPadding {
  padding: 32px 0;
}
