@use "/styles/all" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 16px;
  padding-block-end: 16px;
  border-bottom: 1px solid $neutral300;
}

.checklistTitle {
  display: flex;
  gap: 4px;
}

.checklistItem {
  display: flex;
  align-items: center;
  gap: 12px;
  * {
    cursor: pointer;
  }
}

.checkbox :global {
  .ant-checkbox-inner {
    background-color: $neutral0 !important;
    color: $text50 !important;
    width: 24px !important;
    height: 24px !important;
    border: 2px solid $text200;
    border-radius: 7px !important;
    &::after {
      top: 45% !important;
      inset-inline-start: 33% !important;
      border-color: $text50 !important;
    }
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: $text50 !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: transparent !important;
    border: 2px solid $text50 !important;
  }
}
