@use "/styles/all" as *;

.selectionInput {
  :global {
    .ant-select-selection-overflow {
      flex-wrap: nowrap !important;
      overflow: scroll;
      scrollbar-width: none;
    }
  }
}

// .large {
//   :global {
//     .ant-select-selector {
//       border-width: 2px !important;
//     }
//   }
// }
