@use "/styles/all" as *;

.container {
  padding-bottom: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.passwordContainer {
  margin-top: 16px;
  margin-bottom: 12px;
}

.updatePasswordBtn {
  margin-top: 16px;
}

.modalBody {
  padding-bottom: 40px;
}

.passordCriteriaContianer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
