@use "/styles/all" as *;

.mainTable {
  display: flex;
  flex-direction: column;
  gap: 16px;

  :global {
    .ant-table-row.ant-table-row-selected > .ant-table-cell {
      font-weight: 700;
      background-color: $neutral100 !important;
    }

    th {
      flex-direction: row !important;
      height: 40px !important;
      padding-block: 0 !important;
      background-color: $neutral200 !important;
    }

    th:before,
    .ant-table-measure-row {
      display: none !important;
    }

    td {
      padding-block: 0 !important;
      height: 40px !important;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evenRow {
  background-color: $neutral0;
}

.oddRow {
  background-color: $neutral100;
}

.headerCell {
  display: flex;
  gap: 4px;
  align-items: center;
}

.table {
  margin-bottom: 20px;
}

.rowCustom {
  cursor: pointer;
}

.paginationContainer {
  height: 56px;
  padding-inline: 16px;
  background-color: $neutral0;
  display: flex;
  flex-direction: row-reverse;

  align-items: center;
  justify-content: space-between;

  :global {
    .ant-pagination {
      display: flex;
      align-items: center;
    }
  }
}

.arrow {
  visibility: hidden;
}

.activeArrow {
  visibility: visible;
}

.ascArrow {
  rotate: 90deg;
}

.descArrow {
  rotate: 270deg;
}
