@use "/styles/all" as *;

.StaticticsCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px !important;

  height: 138px;
  width: 100%;

  background-color: $neutral0;

  border: none !important;

  border-radius: 2px !important;

  padding-block-start: 40px !important;
  padding-block-end: 30px !important;
}

.iconCon {
  display: flex;
  gap: 4px;
  align-items: center;
  opacity: 0.64;
}
