@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.commentCardsContainer {
  display: flex;
  width: 100%;
  overflow-y: auto;
  gap: 16px;
  padding-block-end: 24px;
}

.commentCardItemContainer {
  min-width: 271px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid $neutral300;
  border-radius: 8px;
  gap: 8px;
}

.commentTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconContainer {
  padding: 6px;
  border: 1px solid $neutral300;
  border-radius: 8px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $neutral100;
  border: 0.5px solid $neutral400;
}

.imgAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.addCommentBtnsContainer {
  display: flex;
  gap: 44px;
}

.addCommentContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.addCommentDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addCommentTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modalIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalBtnContainer {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 24px;
}
