@font-face {
  font-family: "MontserratThin";
  src: local("Montserrat-Thin"), url("./assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "MontserratExtraLight";
  src:
    local("Montserrat-ExtraLight"),
    url("./assets/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: "MontserratLight";
  src: local("Montserrat-Light"), url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MontserratRegular";
  src:
    local("Montserrat-Regular"), url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: local("Montserrat-Medium"), url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "MontserratSemiBold";
  src:
    local("Montserrat-SemiBold"), url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat-Bold"), url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "MontserraExtraBold";
  src:
    local("Montserrat-ExtraBold"),
    url("./assets/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "MontserratBlack";
  src: local("Montserrat-Black"), url("./assets/fonts/Montserrat-Black.ttf");
}
