@use "/styles/all" as *;
@use "./fonts.css" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-Roboto);
}

a {
  color: inherit;
  text-decoration: none;
}

// antd global styles

.ant-picker-footer {
  .ant-picker-ranges {
    height: 46px;
    display: flex;
    .ant-picker-now {
      display: flex;
      width: 100%;
      justify-content: end;
      color: $primary400;
      @include P7();
    }
    .ant-picker-ok {
      display: flex;
      justify-content: end;
      width: 100%;
      .ant-btn {
        @include P7();
        width: 40px;
        height: 30px;
        border-radius: 4px;
        background-color: $primary400;
      }
      .ant-btn:disabled {
        background-color: $neutral200;
        color: $text200 !important;
      }
    }
  }
}

.ant-picker-month-btn,
.ant-picker-year-btn,
.ant-picker-header-view {
  @include P7();
  color: $text100 !important;
}

.ant-picker-cell-inner {
  width: 24px;
  height: 24px;
}

.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background-color: $primary400 !important;
  }
}

.ant-picker-content,
.ant-picker-time-panel-column {
  @include P7();
  color: $text100 !important;
}

.ant-input-outlined:hover {
  outline: none !important;
  box-shadow: unset !important;
}

/* Flex container - default */
.flex {
  display: flex;
}

/* Row container */
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Column container */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* Center alignment for Y axis */
.flex-align-center {
  display: flex;
  align-items: var(--align-center);
}

/* Center alignment for both axis */
.flex-center {
  display: flex;
  align-items: var(--align-center);
  justify-content: var(--justify-center);
}

/* Space-between alignment */
.flex-space-between {
  display: flex;
  align-items: var(--align-center);
  justify-content: var(--justify-space-between);
}

/* Gap utilities */
.flex-gap-small {
  gap: var(--gap-small);
}

.flex-gap-medium {
  gap: var(--gap-medium);
}

.flex-gap-large {
  gap: var(--gap-large);
}

/* Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

/* No wrap */
.flex-no-wrap {
  flex-wrap: nowrap;
}

/* Align items - start */
.flex-align-start {
  align-items: flex-start;
}

/* Align items - end */
.flex-align-end {
  align-items: flex-end;
}

/* Justify content - start */
.flex-justify-start {
  justify-content: flex-start;
}

/* Justify content - end */
.flex-justify-end {
  justify-content: flex-end;
}

/* flex grow 1 */
.flex-grow-1 {
  flex-grow: 1;
}

.ant-checkbox-inner:after {
  background-color: unset !important;
}

.Toastify {
  &__toast-container {
    width: 100%;
    top: 0;
    padding: 0;
    left: unset;
    transform: unset;
  }

  &__toast--success {
    background: $success700;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 0;
    left: unset;

    .Toastify__toast-body > div:last-child {
      font-size: 16px;
      color: $neutral0;
      font-weight: 500;
    }
  }

  &__close-button {
    position: fixed;
    top: 24px;
    right: 16px;
    // color: $light;
    opacity: 1;
  }

  &__toast-icon {
    margin-inline-end: 8px;
    img {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $neutral300;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $neutral500;
}

::-webkit-scrollbar-track {
  background-color: $neutral100;
  border-radius: 4px;
}

@each $color-name,
  $color-value
    in (
      neutral0: $neutral0,
      neutral100: $neutral100,
      neutral200: $neutral200,
      neutral300: $neutral300,
      neutral400: $neutral400,
      neutral500: $neutral500,
      neutral700: $neutral700,
      neutral800: $neutral800,
      neutral900: $neutral900,
      neutral1000: $neutral1000,
      primary0: $primary0,
      primary100: $primary100,
      primary200: $primary200,
      primary300: $primary300,
      primary400: $primary400,
      primary500: $primary500,
      primary600: $primary600,
      primary700: $primary700,
      primary800: $primary800,
      primary900: $primary900,
      primary1000: $primary1000,
      success100: $success100,
      success700: $success700,
      success800: $success800,
      success900: $success900,
      warning100: $warning100,
      warning700: $warning700,
      warning800: $warning800,
      warning900: $warning900,
      danger50: $danger50,
      danger100: $danger100,
      danger700: $danger700,
      danger800: $danger800,
      danger900: $danger900,
      text50: $text50,
      text100: $text100,
      text200: $text200,
      text300: $text300,
      text400: $text400,
      text500: $text500
    )
{
  .#{$color-name}Color {
    color: $color-value !important;
  }
  .#{$color-name}Bg {
    background-color: $color-value !important;
  }
}
