@use "/styles/all" as *;

.stepContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ellipse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $neutral400;
  border: 1px solid $neutral500;
}

.stepContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.onTrack {
  background-color: $success700;
  border-color: $success700;
}

.atRisk {
  background-color: $warning700;
  border-color: $warning700;
}

.overdue {
  background-color: $danger700;
  border-color: $danger700;
}
