@use "/styles/all" as *;

.container {
  .introText {
    margin-bottom: 20px;
    text-align: start;
  }
  .label {
    margin-bottom: 8px;
  }
  .formContainer {
    text-align: start;
    :global(.ant-otp) {
      width: 100% !important;
    }
    input {
      flex: 1;
      height: 50px !important;
    }
    .btnContainer {
      margin-top: 16px;
    }
    .textbtnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-top: 16px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:global(
  :where(
      .css-dev-only-do-not-override-1x0dypw
    ).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled)
) {
  border-color: $danger700 !important;
}
