@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.productNameCell {
  display: flex;
  gap: 12px;
  align-items: center;
}

.chartContainer {
  display: flex;
  gap: 32px;
}

.viewMoreActions {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.actionMenu {
  gap: 10px;
  display: flex;
}

.actionBtn {
  width: 125px;
  height: 30px;
  justify-content: flex-start;
  gap: 8px;
  display: flex;
}

.filtersContainer {
  flex-wrap: wrap;
}
