@use "/styles/all" as *;

.settingsPage {
  gap: 28px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  min-height: 442px;
}

.contactList {
  display: flex;
  gap: 16px;
}
