@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
  padding: 18px;

  background-color: $neutral0;

  min-height: 280px;
  border-radius: 2px;
}

.chartLineDot {
  width: 8px;
  height: 8px;
  background-color: $primary700;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.barLabel :global {
  .recharts-text {
    @include P13;
  }
}

.pie :global {
  .recharts-legend-item-text {
    @include P13;
    color: $neutral700 !important;
  }
  .recharts-surface {
  }
  .recharts-pie {
    transform: scale(0.8);
    transform-origin: center;
  }
}
